<footer class="page-footer font-small bg-secondary pt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <h5 class="text-light">Minhas redes sociais</h5>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">

        <ul class="social-network">
          <li><a href="https://github.com/sleiph" class="icoGithub" title="Github">
              <fa-icon [icon]="faGithub"></fa-icon>
            </a></li>
          <li>
            <a href="https://www.linkedin.com/in/ricardo-gomes-aa40a51b1/" class="icoLinkedin" title="Linkedin">
              <fa-icon [icon]="faLinkedin"></fa-icon>
            </a>
          </li>
          <li>
            <a href="https://www.deviantart.com/sleiph" class="icoDeviantart" title="Deviantart">
              <fa-icon [icon]="faDeviantart"></fa-icon>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright bg-dark text-center py-3 ">
    <span class="text-light"> &copy; 2021 Copyright must die: </span>
    <a class="text-light" href="https://unlicense.org/">unlicense.org</a>
  </div>
</footer>