.parallax{
  background-image: url('https://images.vice.com/motherboard/content-images/article/no-id/1426189830071337.jpg');
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}